<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Regression Suite" parallel="methods" thread-count="1">



    <listeners>
        <listener class-name="com.aventstack.extentreports.testng.listener.ExtentITestListenerClassAdapter"></listener>
    </listeners>


    <test name="MassTort test">
        <classes>
            <class name="clxTest.LoginTest"></class>
        </classes>
    </test>

</suite>